.first {
    background-color: seashell;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    transition: margin-top 0.5s linear, background-color 0.5s linear;
    position: relative;
}


.clas2 {
    margin-top: 20px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: margin-top 0.5s 0.5s linear;
}

.first:hover {
    margin-top: 20px; /* Move the outer box up */
    background-color: skyblue;
    color: white;
}

.first:hover .clas2 {
    margin-top: 50px; 
        color: blueviolet;
        background-color: lightgreen;
    /* Move the inner box down */
}


